# Things to do:
## Try to condense file size
- Convert date columns into one DateTime column
 - Conserve memory and remove columns for day of the week
 - Create series with date, then concatenate with other df
- All times are local
 - Does that matter?
 - If so convert to UTC (or GMT)
- Create seperate data frames for each carrier
 - Create a loop to do the following:
  - Import df for carrier (n)
  - Add that data to a model
  - Loop until all data for every carrier is added to the model, then use that model to predict times
  

 
## Cleaning
- Analyze NaN values and clean

## Analysis
- Target

In [1]:
import numpy as np
import pandas as pd
import datetime

In [9]:
file = 'C:\\Users\\Abe\\Data Science Bootcamp\\Unit 3\\Potpourrie\\Airplanes\\2008_20.csv'
cols = ['Month']

df = pd.read_csv(file, usecols=cols, squeeze=True)

7009728

In [11]:
num = 0
while num < df.shape[0]:
    df_ss = pd.read_csv(file, nrows=(num+1000), skiprows=num)
    num += 1000
    print(df_ss.head(n=1))

   Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  \
0  2008      1           3          4   2003.0        1955   2211.0

   CRSArrTime UniqueCarrier  FlightNum        ...         TaxiIn  TaxiOut  \
0        2225            WN        335        ...            4.0      8.0

   Cancelled  CancellationCode  Diverted  CarrierDelay WeatherDelay NASDelay  \
0          0               NaN         0           NaN          NaN      NaN

   SecurityDelay  LateAircraftDelay
0            NaN                NaN

[1 rows x 29 columns]
   2008  1  3  4     834   830     955  955.1  WN  762  ...   4.2    18  0.1  \
0  2008  1  3  4  2059.0  1945  2220.0   2105  WN  890  ...   6.0  14.0    0

   Unnamed: 22  0.2    NA NA.1 NA.2  NA.3  NA.4
0          NaN    0  41.0  0.0  1.0   0.0  33.0

[1 rows x 29 columns]
   2008  1  3  4    2014  1935    2129  2045  WN  1662  ...   3.1    25  0  \
0  2008  1  3  4  1350.0  1325  1950.0  1925  WN  1678  ...   5.0  20.0  0

   Unnamed: 22  0.1  0.2  0.3    6  0.4    38
0          NaN    0  9.0  0.0  0.0  0.0  16.0

[1 rows x 29 columns]
   2008  1  4  5    935  935.1   1016  1020  WN  3748  ...     3    6  0.1  \
0  2008  1  4  5  701.0    700  758.0   800  WN     1  ...   3.0  7.0    0

   Unnamed: 22  0.2  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  4  5     718   715     751   750  WN   573  ...   3.1    19  0  \
0  2008  1  4  5  1705.0  1655  1737.0  1730  WN  2036  ...   4.0  11.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  4  5     635  635.1     741   755  WN  2031  ...     3    9  0.1  \
0  2008  1  4  5  1816.0   1815  1923.0  1935  WN  2034  ...   2.0  7.0    0

   Unnamed: 22  0.2  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  5  6     756   755    1038  1035  WN   92  ...     11  6.1  0  \
0  2008  1  5  6  1047.0  1050  1337.0  1330  WN  420  ...   11.0  7.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  5  6    2019  1905    2221  2115  WN  386  ...   5.1    7  0  \
0  2008  1  5  6  1211.0  1150  1420.0  1405  WN  463  ...   5.0  9.0  0

   Unnamed: 22  0.1   0.2  0.3  0.4  0.5  66.1
0          NaN    0  10.0  0.0  0.0  0.0   5.0

[1 rows x 29 columns]
   2008  1  5  6     818   820     955  1005  WN  122  ...   6.1    17  0  \
0  2008  1  5  6  1046.0  1050  1221.0  1230  WN  606  ...   7.0  10.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  6  7    1941  1915    2040  2020  WN  3419 ...     3    9  0  \
0  2008  1  6  7  1411.0  1355  1524.0  1500  WN  3489 ...   2.0  9.0  0

   Unnamed: 22  0.1    19  0.2  0.3  0.4  1.1
0          NaN    0  16.0  0.0  8.0  0.0  0.0

[1 rows x 29 columns]
   2008  1  6  7    1050  1050.1    1211  1210  WN  680  ...   6.1    10  0.1  \
0  2008  1  6  7  1244.0    1245  1405.0  1405  WN  776  ...   3.0  10.0    0

   Unnamed: 22  0.2  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  6  7     954   940    1553  1545  WN  2818  ...     4   7.1  0  \
0  2008  1  6  7  2145.0  2120  2236.0  2210  WN   489  ...   5.0  13.0  0

   Unnamed: 22  0.1    NA NA.1 NA.2  NA.3  NA.4
0          NaN    0  20.0  0.0  1.0   0.0   5.0

[1 rows x 29 columns]
   2008  1  7  1.1     640   645     811   820  WN  3916  ...     3  7.1  0  \
0  2008  1  7    1  1015.0  1005  1302.0  1320  WN  1860  ...   5.0  9.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  7  1.1    1152  1155    1547  1555  WN  1079  ...     4    22  0  \
0  2008  1  7    1  1233.0  1240  1711.0  1720  WN   155  ...   4.0  26.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  7  1.1    1746  1655    1942  1855  WN  1071  ...     4    8  0  \
0  2008  1  7    1  2147.0  2055  2332.0  2255  WN  2730  ...   4.0  4.0  0

   Unnamed: 22  0.1   38  0.2  0.3  0.4     9
0          NaN    0  2.0  0.0  0.0  0.0  35.0

[1 rows x 29 columns]
   2008  1  7  1.1    1430  1430.1    1536  1545  WN  3764  ...     4  7.1  \
0  2008  1  7    1  2105.0    2105  2237.0  2230  WN   102  ...   5.0  7.0

   0.1  Unnamed: 22  0.2  NA NA.1 NA.2  NA.3  NA.4
0    0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  8  2     748   750     921   925  WN   974  ...     6    11  0  \
0  2008  1  8  2  1905.0  1905  2040.0  2040  WN  1156  ...   3.0  11.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  8  2     632   635     901   915  WN  2281  ...     5   8.1  0  \
0  2008  1  8  2  1145.0  1145  1422.0  1425  WN  3754  ...   5.0  13.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  8  2   1600  1600.1   1716  1750  WN  3513  ...   1.1     6  0.1  \
0  2008  1  8  2  700.0     700  842.0   850  WN   293  ...   5.0  12.0    0

   Unnamed: 22  0.2  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  9  3   1903  1905   1917  1910  WN  1403  ...     2  7.1  0  \
0  2008  1  9  3  630.0   630  655.0   700  WN   351  ...   4.0  6.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  9  3    1814  1810    2016  2015  WN  504  ...     6    11  0  \
0  2008  1  9  3  1741.0  1740  2005.0  1950  WN  559  ...   6.0  33.0  0

   Unnamed: 22  0.1   NA NA.1  NA.2  NA.3  NA.4
0          NaN    0  0.0  0.0  15.0   0.0   0.0

[1 rows x 29 columns]
   2008  1  9  3    1559  1600    1808  1825  WN  1143  ...     5    7  0  \
0  2008  1  9  3  1046.0  1050  1255.0  1310  WN  3406  ...   6.0  8.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  9  3    1717  1720    1818  1820  WN  1430  ...     5   13  0  \
0  2008  1  9  3  1031.0  1025  1125.0  1125  WN  1488  ...   5.0  8.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  10  4    2055  2100    2316  2330  WN  3313  ...     5    15  0  \
0  2008  1  10  4  1457.0  1500  1654.0  1700  WN    46  ...   3.0  27.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  10  4    1721  1720    1843  1845  WN   59  ...     5   13  0  \
0  2008  1  10  4  1321.0  1245  1446.0  1410  WN  132  ...   7.0  8.0  0

   Unnamed: 22  0.1   NA NA.1 NA.2  NA.3  NA.4
0          NaN    0  0.0  0.0  0.0  36.0   0.0

[1 rows x 29 columns]
   2008  1  10  4     859   900     952   955  WN  130  ...     3    7  0  \
0  2008  1  10  4  1009.0  1010  1102.0  1105  WN  146  ...   3.0  8.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  11  5   1625  1625.1   1745  1745.1  WN  219  ...     3  11.1  \
0  2008  1  11  5  619.0     625  738.0     745  WN  614  ...   5.0  13.0

   0.2  Unnamed: 22  0.3  NA NA.1 NA.2  NA.3  NA.4
0    0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  11  5     625  625.1     743   730  WN  1669  ...     3    27  \
0  2008  1  11  5  1542.0   1530  1647.0  1635  WN  1843  ...   3.0  15.0

   0.1  Unnamed: 22  0.2  NA NA.1 NA.2  NA.3  NA.4
0    0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  11  5    957  950   1103  1050  WN  2787  ...     4    16  0  \
0  2008  1  11  5  811.0  810  906.0   915  WN  3421  ...   4.0  10.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  11  5    1815  1815.1    1908  1910  WN  3915  ...     3    8  \
0  2008  1  11  5  1700.0    1705  1839.0  1850  WN   343  ...   7.0  9.0

   0.1  Unnamed: 22  0.2  NA NA.1 NA.2  NA.3  NA.4
0    0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  12  6    1553  1600    1815  1830  WN   408  ...     5    11  0  \
0  2008  1  12  6  1048.0  1050  1259.0  1325  WN  1866  ...   4.0  12.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  12  6   1355  1340   1417  1405  WN  445  ...     2  12.2  0  \
0  2008  1  12  6  935.0   935  957.0  1005  WN  529  ...   2.0  10.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  13  7     859   905    1059  1115  WN  1412  ...     3    8  0  \
0  2008  1  13  7  2042.0  2020  2244.0  2230  WN  1417  ...   3.0  9.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  13  7    2106  2105    2230  2235  WN  1274  ...     5   12  0  \
0  2008  1  13  7  1930.0  1935  2052.0  2105  WN  1435  ...   6.0  9.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  13  7  1426  1410  1418  1410.1  WN  802  ...    2  7.1  0  \
0  2008  1  13  7   NaN   815   NaN     815  WN  898  ...  NaN  NaN  1

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0            A    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  14  1.1    1921  1915    2007  2020  WN  2891  ...      4   6.1  \
0  2008  1  14    1  1135.0  1130  1245.0  1255  WN  2293  ...   10.0  10.0

   0  Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0  0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  14  1.1   1818  1820    2030  2015  WN  3757 ...     8    7  0  \
0  2008  1  14    1  952.0   955  1006.0  1010  WN  1292 ...   2.0  9.0  0

   Unnamed: 22  0.1  0.2 0.3 15.1  0.4  0.5
0          NaN    0  NaN NaN  NaN  NaN  NaN

[1 rows x 29 columns]
   2008  1  14  1.1     744   745    1029  1035  WN  1154  ...     5    8  0  \
0  2008  1  14    1  1122.0  1125  1403.0  1415  WN  1561  ...   4.0  5.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  14  1.1    1016  1015    1138  1135  WN  2300  ...     8    11  0  \
0  2008  1  14    1  1320.0  1320  1437.0  1440  WN  2705  ...   4.0  10.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  15  2     951   955    1100  1110  WN  2821  ...   2.1   10  0  \
0  2008  1  15  2  2004.0  2005  2118.0  2120  WN  3178  ...   6.0  7.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  15  2    2019  2020    2253  2305  WN  1460  ...   2.1    6  0  \
0  2008  1  15  2  1418.0  1420  1654.0  1710  WN  2445  ...   4.0  8.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  15  2     623   620     739   735  WN  1284  ...   3.1   21  0  \
0  2008  1  15  2  1959.0  2000  2108.0  2110  WN  1440  ...   9.0  9.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  16  3   1756  1755    2022  2025  WN  1574  ...   3.1    7  0  \
0  2008  1  16  3  829.0   835  1054.0  1105  WN  2637  ...   3.0  8.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  16  3    1043  1045    1130  1140  WN  110  ...     4    10  0  \
0  2008  1  16  3  1914.0  1915  2003.0  2010  WN  889  ...   3.0  11.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  16  3   1058  1100   1149  1150  WN   908  ...     4    7  0  \
0  2008  1  16  3  624.0   625  715.0   715  WN  1157  ...   4.0  8.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  16  3     938   940    1036  1040  WN  1951  ...     4     9  0  \
0  2008  1  16  3  1555.0  1555  1704.0  1655  WN  2474  ...   7.0  10.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  17  4    813  815     927   935  WN  3661  ...   4.1    8  0  \
0  2008  1  17  4  927.0  925  1009.0  1015  WN     4  ...   4.0  8.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  17  4    1443  1330    1647  1600  WN   108  ...     7   15  0  \
0  2008  1  17  4  2157.0  2015  2352.0  2245  WN  1186  ...   7.0  5.0  0

   Unnamed: 22  0.1     5  0.2  0.3  0.4    42
0          NaN    0  10.0  0.0  0.0  0.0  57.0

[1 rows x 29 columns]
   2008  1  17  4    1147  1145    1404  1355  WN  1451  ...     5   10  0  \
0  2008  1  17  4  2004.0  1955  2213.0  2205  WN  1597  ...   4.0  7.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  18  5    1520  1515    1630  1630.1  WN  101  ...     3     9  \
0  2008  1  18  5  1025.0  1015  1145.0    1130  WN  542  ...   9.0  15.0

   0.1  Unnamed: 22  0.2   NA NA.1 NA.2  NA.3  NA.4
0    0          NaN    0  9.0  0.0  5.0   0.0   1.0

[1 rows x 29 columns]
   2008  1  18  5    1507  1500    1610  1605  WN  444  ...   5.2   10  0  \
0  2008  1  18  5  1352.0  1340  1455.0  1445  WN  812  ...   3.0  9.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  18  5   1542  1525    1639  1625  WN  2610  ...     4    7  0  \
0  2008  1  18  5  938.0   855  1038.0  1000  WN  2635  ...   4.0  8.0  0

   Unnamed: 22  0.1   NA NA.1 NA.2  NA.3  NA.4
0          NaN    0  0.0  0.0  0.0   0.0  38.0

[1 rows x 29 columns]
   2008  1  18  5    1308  1135    1440  1315  WN  3247  ...   5.1   10  0  \
0  2008  1  18  5  1652.0  1625  1747.0  1730  WN  1344  ...   3.0  5.0  0

   Unnamed: 22  0.1    4  0.2  0.3  0.4    81
0          NaN    0  0.0  0.0  0.0  0.0  17.0

[1 rows x 29 columns]
   2008  1  19  6    1453  1455    1553  1600  WN  1778  ...     4   18  0  \
0  2008  1  19  6  1658.0  1700  1751.0  1800  WN  1828  ...   5.0  8.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  19  6     851   855    1128  1140  WN  1664  ...     4   13  0  \
0  2008  1  19  6  1732.0  1735  2002.0  2015  WN  3421  ...   5.0  6.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  20  7    1459  1500    1746  1800  WN  196  ...     2     8  0  \
0  2008  1  20  7  2043.0  2035  2233.0  2225  WN  975  ...   4.0  12.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  20  7    1240  1235    1430  1440  WN  101  ...     3     9  0  \
0  2008  1  20  7  1445.0  1445  1640.0  1650  WN  760  ...   4.0  11.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  20  7   1543  1545   1703  1655  WN  1099  ...     6  20.1  0  \
0  2008  1  20  7  707.0   710  813.0   820  WN  1146  ...   9.0   7.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  21  1.1    623  625    712  725  WN  1136  ...     6     9  0  \
0  2008  1  21    1  804.0  805  853.0  905  WN  1296  ...   4.0  13.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  21  1.1     943   945    1429  1435  WN  1110  ...     3   11  0  \
0  2008  1  21    1  1548.0  1530  2110.0  2115  WN   284  ...   3.0  7.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  21  1.1   2003  1930   2235  2225  WN   811  ...     4  10.1  0  \
0  2008  1  21    1  631.0   630  908.0   925  WN  1071  ...   4.0  11.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  21  1.1     849   850     944   945  WN  2947  ...     3    7  0  \
0  2008  1  21    1  1502.0  1505  1601.0  1600  WN  3071  ...   5.0  8.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  22  2    1458  1500    1554  1600  WN  1114  ...   2.1   14  0  \
0  2008  1  22  2  1002.0   955  1055.0  1055  WN  1526  ...   3.0  9.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  22  2    1955  1955.1    2235  2240  WN  3307  ...     4    10  \
0  2008  1  22  2  1117.0    1120  1254.0  1255  WN   994  ...   4.0  11.0

   0.1  Unnamed: 22  0.2  NA NA.1 NA.2  NA.3  NA.4
0    0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  22  2  1248  1100  1408  1230  WN  587  ...    6  14  0  \
0  2008  1  22  2   NaN  1255   NaN  1425  WN  656  ...  NaN NaN  1

   Unnamed: 22  0.1  0.2 0.3 0.4  0.5  98.1
0            A    0  NaN NaN NaN  NaN   NaN

[1 rows x 29 columns]
   2008  1  23  3   1628  1610    1754  1735  WN  3178 ...    4    12  0  \
0  2008  1  23  3  738.0   740  1002.0  1010  WN   701 ...  5.0  12.0  0

   Unnamed: 22  0.1  1.1 0.2 1.2  0.3  17
0          NaN    0  NaN NaN NaN  NaN NaN

[1 rows x 29 columns]
   2008  1  23  3     701   705     759   810  WN  1456  ...   3.1     9  0  \
0  2008  1  23  3  1746.0  1740  1856.0  1845  WN  1614  ...   5.0  10.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  23  3    1518  1500    1558  1550  WN  1752  ...     4    11  0  \
0  2008  1  23  3  1007.0  1000  1058.0  1055  WN  3661  ...   4.0  16.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  24  4   1226  1220   1310  1310.1  WN  2800  ...     2     8  0.1  \
0  2008  1  24  4  836.0   835  928.0     930  WN  2821  ...   5.0  10.0    0

   Unnamed: 22  0.2  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  24  4   1300  1200   1409  1325  WN  1374  ...   4.1    7  0  \
0  2008  1  24  4  720.0   720  841.0   845  WN  1493  ...   8.0  8.0  0

   Unnamed: 22  0.1  0.2 0.3 0.4  0.5  44.1
0          NaN    0  NaN NaN NaN  NaN   NaN

[1 rows x 29 columns]
   2008  1  24  4    1500  1445    1613  1600  WN  1482  ...   4.1   14  0  \
0  2008  1  24  4  1035.0  1035  1146.0  1150  WN  1591  ...   5.0  9.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  24  4     639   640     747   800  WN  1862  ...   4.1    28  0  \
0  2008  1  24  4  1722.0  1720  1833.0  1830  WN  3166  ...   6.0  29.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]
   2008  1  25  5    1230  1215    1326  1315  WN  1508  ...   5.1    7  0  \
0  2008  1  25  5  1634.0  1620  1730.0  1720  WN  1614  ...   4.0  7.0  0

   Unnamed: 22  0.1  NA NA.1 NA.2  NA.3  NA.4
0          NaN    0 NaN  NaN  NaN   NaN   NaN

[1 rows x 29 columns]

KeyboardInterrupt:

In [2]:
file = 'C:\\Users\\Abe\\Data Science Bootcamp\\Unit 3\\Potpourrie\\Airplanes\\2008.csv'
cols = ['Year', 'Month','DayofMonth']

df = pd.read_csv(file, usecols=cols)

In [3]:
df.columns = ['year','month','day']
df.dtypes

year     int64
month    int64
day      int64
dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 3 columns):
year     int64
month    int64
day      int64
dtypes: int64(3)
memory usage: 160.4 MB

In [5]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
df.head()

   year  month  day       date
0  2008      1    3 2008-01-03
1  2008      1    3 2008-01-03
2  2008      1    3 2008-01-03
3  2008      1    3 2008-01-03
4  2008      1    3 2008-01-03

In [6]:
df.drop(['year','month','day'],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 1 columns):
date    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 53.5 MB

In [12]:
cols = ['DepTime', 'CRSDepTime','DepDelay']
df_dep_times = pd.read_csv(file,usecols=cols)

In [13]:
df_dep_times.columns = ['deptime','schddeptime','delay']
df_dep_times['delay_1'] = df_dep_times['deptime'] - df_dep_times['schddeptime']
df_dep_times.head()

   deptime  schddeptime  delay  delay_1
0   2003.0         1955    8.0     48.0
1    754.0          735   19.0     19.0
2    628.0          620    8.0      8.0
3    926.0          930   -4.0     -4.0
4   1829.0         1755   34.0     74.0

In [14]:
df_dep_times.drop('delay',axis=1,inplace=True)

MemoryError: